<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877080556597-f1n0usq9sfrcrva384h0k4mm5tbcoe6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877080556597-f1n0usq9sfrcrva384h0k4mm5tbcoe6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAjAV1a5cTrDafV7z8KqqEkHLL4VU9e7R4</string>
	<key>GCM_SENDER_ID</key>
	<string>877080556597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlasterPlus.plasterplusapp</string>
	<key>PROJECT_ID</key>
	<string>plaster-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>plaster-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877080556597:ios:f6008c638e83e85bc46d7c</string>
</dict>
</plist>